<div class="card-frame">
  <div class="card">

  </div>
  <div class="card-description">
    Project
  </div>
</div>
<div class="card-frame">
  <div class="card">
    
  </div>
  <div class="card-description">
    Project
  </div>
</div>
<div class="card-frame">
  <div class="card">
    
  </div>
  <div class="card-description">
    Project
  </div>
</div>
<div class="card-frame">
  <div class="card">
    
  </div>
  <div class="card-description">
    Project
  </div>
</div>
<div class="card-frame">
  <div class="card">
    
  </div>
  <div class="card-description">
    Project
  </div>
</div>
<div class="card-frame">
  <div class="card">
    
  </div>
  <div class="card-description">
    Project
  </div>
</div>

